@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

.top-margin{
    margin-top: 2em;
}
.btn-margin{
    margin-bottom: 2em;
}
.right-margin{
    margin-right: 2em;
}

.required{
    color: red;
    margin-left: 5px;
}
.headbar{
    background-color: #0f3b6b;
    font-size: 2em;
    color: white;
    padding-left: 10px;
    margin-bottom: 1em;
}


.alert {
    padding: 20px;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: white;
  }